.Resources {
    padding-top: 50px;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 75px);
}

.resource-title {
    font-size: 25px;
    margin-left: 15px;
    font-weight: bold;
}

.resource-details {
    font-size: 20px;
    margin-left: 15px;
    font-weight: bold;
    color: #500700;
}

.resource-title:hover {
    color: #13a1ff;
}